:root {
  --font-color: #e7eaf1;
  --heading-color: #a855f7;  
  --dark-font-color: #ced4da;
  --background: #111827;
  --medium-font-color: #dee2e6;
  --light-font-color: #ebf0f5;
  --light-background: #111111;
  --light-background-hover: #131314;
  --code-background-color: #2e2e30;
  --border: #404040;
  --link-color: #6ab0f3;
  --link-color-darker: #4a72a5;
  --link-hover-color: #e1a6f2;
  --navbar-color: #1d1d1d;
  --blockquote: #2a4661;
  --transparent-text: rgba(255, 255, 255, 0.7);
  --transparent-bg: rgba(0, 0, 0, 0.2);
  --light-transparent-bg: rgba(255, 255, 255, 0.05);
  --border-color: #3b3b3b;
}

.project {

  border: 3px solid #a855f7;
}

h1 {
  color: white;
}

h3,
h4 {
  color: var(--medium-font-color);
}

p.subtitle {
  color: rgba(240, 228, 228, 0.5);
}

a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 700;
  border-color: transparent;
}

a:hover {
  color: white;
  border-color: var(--link-color);
}

a code[class*='language-'] {
  color: var(--link-color) !important;
}

a.button {
  background: transparent;
  background: #7325bb;
}

a.button:hover {
  border: 2px solid var(--border-color);
  background: blue;
  color: white;
  box-shadow: 0 0 10px 0 blue inset, 0 0 10px 4px blue;
}

.navbar a {
  color: var(--transparent-text);
}

.navbar a:hover,
.navbar a[aria-current='page'],
.footer a:hover {
  color: white;
  border-color: transparent;
}

.navbar a.brand {
  color: white;
}

.navbar {

  background:rgb(23,33,53,0.4);
  border-bottom: 1px solid rgba(23,33,53,0.5);
  z-index: 1000;
  backdrop-filter: blur(5px);

}

.filename {
  background: linear-gradient(to bottom, #303030, #202020) !important;
  box-shadow: 0px 1px 0px rgba(100, 100, 100, 0.5) inset, 0px 1px 0px #515151;
  border: 1px solid #202020 !important;
  color: var(--dark-font-color) !important;
  text-shadow: none !important;
}

pre.language-terminal {
  background: var(--navbar-color);
  border: 1px solid #111;
}

pre.language-terminal::before {
  border-bottom: 1px solid #111;
  background: linear-gradient(to bottom, #303030, #202020) !important;
  color: inherit;
}

pre.language-terminal::after {
  text-shadow: none;
  color: var(--light-font-color);
}

code.language-terminal {
  color: var(--dark-font-color);
}

code {
  border-width: 1px !important;
  border-color: rgba(0, 0, 0, 0.1);
}

[type='search'] {
  border: 1px solid var(--light-background);
  background: var(--light-background);
  color: var(--dark-font-color);
  border: 2px solid transparent;
}

[type='search']:focus {
  outline: none;
  border: 2px solid var(--link-color);
}

header u {
  background: linear-gradient(transparent 85%, #111 0);
}

table,
td,
th {
  border-color: #111;
}

tbody tr:nth-child(odd) {
  background-color: #222;
}

blockquote {
  color: rgba(255, 255, 255, 0.9);
}

.new-post {
  background: yellow;
  color: black;
}

.popular-post {
  background: purple;
  color: white;
}

.guide-thumbnails a:hover {
  color: white;
}

.guide a h2:hover {
  color: #ffeead;
}

.post a:hover {
  border-bottom-color: var(--light-background);
}

/* Inline code */
:not(pre) > code[class*='language-'] {
  border: 1px solid rgba(255, 255, 255, 0.05);
}

pre.language-terminal {
  box-shadow: none;
}

.blurb {
  background: #111;
}

.blurb p {
  color:#ced4da;
}

.blurb h1 {
  color:#ced4da;
}

.largefont {
  background-color: #7325bb;
}

@media screen and (max-width: 800px) {
  .sharer-buttons-toolbar {
  margin: 0;
  background:rgb(23,33,53,0.4);
  border-top: 1px solid rgba(23,33,53,0.5);
  z-index: 1000;
  backdrop-filter: blur(5px);

  }
}

.form {
  background-color: var(--light-background);
  color: var(--light-font-color);
  border: 3px solid var(--heading-color);

}

.form a {
  color: var(--light-background) !important;
}

.form a:hover {
  border-bottom: 1px solid;
}

.form input,
.form textarea{
  border: 1px solid #111111;
  width: 100%;
  font-size: 1.3rem;
}


.buttonss {
  border: 2px solid var(--link-color);
  background: #7325bb;
  color: white;
  border: 1px solid var(--border-color);
}

.buttonss:hover {
  border: 2px solid var(--border-color);
  background: var(--link-color-darker);
  color: white;
}